@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");

@font-face {
    font-family: 'ideamarket';
    src: url("fonts/ideamarket.eot?-frk3o5");
    src: url("fonts/ideamarket.eot?#iefix-frk3o5") format("embedded-opentype"), url("/fonts/ideamarket.woff?-frk3o5") format("woff"), url("fonts/ideamarket.ttf?-frk3o5") format("truetype"), url("fonts/ideamarket.svg?-frk3o5#ideamarket") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Basic */
html, body, #skel-layers-wrapper {
    height: 100%;
}

body {
    background: #f5f8fa;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

body, input, select, textarea {
    color: #465057;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 1.65em;
}

/* Follow */
.follow .button.active {
    background-color: #37c5ee;
    box-shadow: none;
    color: #ffffff !important;
}

.follow .button.active:hover {
    background-color: #4fccf0 !important;
}

.follow .button.active:active {
    background-color: #1fbeec !important;
}

.follow .button.active.icon:before {
    color: #afe7f8 !important;
}

.follow .button.can-unfollow.active:hover {
    background: red !important;
}

/* Notification */
.notification-expired {
    background: #465057 !important;
}

.notification {
    background: #52c8a5;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    border-radius: 0.5em;
    padding: 1.5em 2.5em;
    font-size: 1.25em;
}

/* Search Form */
#search-form {
    margin: 0 auto;
    width: 100%;
    max-width: 40em;
}

/* Banner */
.dismiss-button {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 2em;
    right: 2em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    text-indent: -9999px;
    box-shadow: inset 0 0 0 4px #fff, 2px 2px 0 0 rgba(0, 0, 0, 0.125);
    cursor: pointer;
}

.dismiss-button:before {
    font-family: 'ideamarket';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none !important;
}

.dismiss-button:before {
    content: '\e600';
    text-indent: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
}

.dismiss-button:hover {
    background-color: rgba(255, 255, 255, 0.125);
}

.dismiss-button:active {
    background-color: rgba(255, 255, 255, 0.25);
}

/* Follow up application form */
#follow-up input[type="submit"] {
    border-radius: 0 0.5em 0.5em 0;
    width: 27.5%;
    width: calc(100% - 100% + 7em);
    padding: 0;
    color: #83898c !important;
    font-size: 0.9em;
    height: 3em;
    line-height: 3em;
    margin-left: -2px;
}

#follow-up input[type="text"] {
    border-radius: 0.5em 0 0 0.5em;
    width: 72.5%;
    width: calc(100% - 7em);
    float: left;
    font-size: 0.9em;
    height: 3em;
    line-height: 3em;
}

/* modal */
div#modal:before {
    position: absolute;
    top: 0;
    left: -9999%;
    right: -9999%;
    bottom: 0;
    background-color: black;
    content: '';
    opacity: .7;
}

#modal {
    margin: 0 auto;
    padding: 5em;
}

#modal .box.big {
    z-index: 10002;
    position: relative;
    max-height: 100%;
    overflow: scroll;
}

/** circular idea thumbs**/
img.circular-thumb {
    border-radius: 100%;
}

/** FAQ PAGE **/
#FAQ {
    text-align: justify;
}

#FAQ ul li a {
    text-decoration: none;
}

.faq-table {
    padding-top: 3em;
}

#FAQ h3:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid grey;
    content: '';
    top: 16px;
    bottom: -12px;
    opacity: .2;
    margin: 0 auto;
}

#FAQ h3 {
    position: relative;
}

/** About us **/
span.ideamlogo:before {
    content: '\e700';
    font-size: 10em;
    vertical-align: middle;
    color: #37c5ee;
    font-family: 'ideamarket';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    display: block;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none !important;
    position: relative;
    top: -15px;
    height: .8em;
}

span.ideamlogo {
    float: left;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    position: relative;
    top: 0px;
    left: -10px;
}

.ourstory {
    text-align: justify;
    padding: 2em 4em;
}

/* Header */
#header {
    background: #fff;
    cursor: default;
    height: 4em;
    line-height: 4em;
    position: relative;
    width: 100%;
    z-index: 10000;
    border-bottom: solid 2px #dbe1e5;
}

#header h1 {
    height: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

#header h1 a {
    font-size: 1.25em;
    color: #465057 !important;
}

#header h1 a:before {
    background: url("images/logo.svg");
    display: inline-block;
    width: 1.75em;
    height: 1.75em;
    position: relative;
    top: -0.075em;
    margin-right: 0.15em;
    vertical-align: middle;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#header h1 sup {
    font-size: 0.45em;
    text-transform: uppercase;
    font-weight: 400;
    color: #a3a9ac;
    margin-left: 0.5em;
}

#header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
}

#header nav > ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#header nav > ul > li {
    position: relative;
    border-radius: 0.5em;
    display: inline-block;
    margin-left: 2em;
    padding-left: 0;
}

#header nav > ul > li .dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    padding-top: 1em;
    min-width: 10em;
}

#header nav > ul > li .dropdown ul {
    position: relative;
    background: #fff;
    border-radius: 0.5em;
    border: solid 1px #dbe1e5;
    list-style: none;
    padding: 0.75em 0;
    line-height: 2.25em;
}

#header nav > ul > li .dropdown ul:before {
    content: '';
    display: block;
    background: #fff;
    border: solid 1px #dbe1e5;
    border-right: 0;
    border-bottom: 0;
    width: 0.75em;
    height: 0.75em;
    position: absolute;
    top: -0.4em;
    right: 1em;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#header nav > ul > li .dropdown ul > li {
    padding: 0;
}

#header nav > ul > li .dropdown ul > li > a {
    display: block;
    padding: 0 1em;
}

#header nav > ul > li .dropdown ul > li.divider {
    margin-top: 0.5em;
    padding-top: 0.25em;
    border-top: solid 1px #dbe1e5;
}

#header nav > ul > li.special {
    border-left: solid 1px #dbe1e5;
    border-radius: 0;
    margin-left: 1.25em;
}

#header nav > ul > li.special > a {
    padding: 0 1.25em;
}

#header nav > ul > li.special:last-child > a {
    padding-right: 0;
}

#header nav > ul > li.user > a {
    white-space: nowrap;
    display: block;
    font-weight: 700;
    vertical-align: middle;
    line-height: inherit;
    height: inherit;
    outline: 0;
}

#header nav > ul > li.user > a img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -0.15em;
}

#header nav > ul > li.dropdown-opener.active .dropdown {
    display: block;
}

#header nav > ul > li a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

#header nav > ul > li:first-child {
    margin-left: 0;
}

#header nav > ul > li .button {
    position: relative;
    color: #fff;
    background: #82dd70;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline;
    /*margin-top: 14px;*/
}

#header nav > ul > li .banner-toggle {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    position: relative;
    cursor: pointer;
}

#nav-bar nav > ul > li .banner-toggle:before {
    content: "î˜";
    font-family: 'ideamarket';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none !important;
}

#nav-bar nav > ul > li .banner-toggle:before {
    -moz-transform-origin: 50% 55%;
    -webkit-transform-origin: 50% 55%;
    -o-transform-origin: 50% 55%;
    -ms-transform-origin: 50% 55%;
    transform-origin: 50% 55%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    display: inline-block;
    text-align: center;
    font-size: 18px;
    position: relative;
    margin-right: 0.5em;
    top: 0.1em;
    color: #dbe1e5;
}

#header nav > ul > li .banner-toggle.dismissed:before {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#header .container {
    position: relative;
}

#banner {
    background-image: -moz-url("images/overlay.png"), linear-gradient(45deg, #4da18f, #5576b8);
    background-image: -webkit-url("images/overlay.png"), linear-gradient(45deg, #4da18f, #5576b8);
    background-image: -o-url("images/overlay.png"), linear-gradient(45deg, #4da18f, #5576b8);
    background-image: -ms-url("images/overlay.png"), linear-gradient(45deg, #4da18f, #5576b8);
    background-image: url("images/overlay.png"), linear-gradient(45deg, #4da18f, #5576b8);
    -moz-transition: max-height 1s ease-in-out;
    -webkit-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    -ms-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
    -moz-transition-delay: 0.125s;
    -webkit-transition-delay: 0.125s;
    -o-transition-delay: 0.125s;
    -ms-transition-delay: 0.125s;
    transition-delay: 0.125s;
    background-attachment: fixed;
    background-color: #518ba3;
    color: #fff;
    overflow: hidden;
    position: relative;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.125);
    max-height: 50em;
    cursor: default;
}

#banner h2, #banner h3, #banner h4, #banner h5, #banner h6, #banner strong, #banner b {
    color: inherit;
}

#banner .actions {
    margin-bottom: 0;
}

#banner h2 {
    margin: 0 0 0.5em 0;
}

#banner p {
    font-size: 1.25em;
    line-height: 1.75em;
}

#banner .button {
    color: inherit !important;
    box-shadow: inset 0 0 0 4px #fff, 1.5px 1.5px 0 0 rgba(0, 0, 0, 0.125);
}

#banner .button:hover {
    background-color: rgba(255, 255, 255, 0.125);
}

#banner .button:active {
    background-color: rgba(255, 255, 255, 0.25);
}

#banner .button.special {
    box-shadow: 1.5px 1.5px 0 0 rgba(0, 0, 0, 0.125);
    text-shadow: none;
}

#banner .inner {
    -moz-transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    -ms-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
    display: block;
    opacity: 1;
    padding: 3em 0 3em 0;
}

/*#banner .inner:before {
  background: url("images/logo-alt.svg");
  display: inline-block;
  width: 8em;
  height: 8em;
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 0 1em 0; }*/
#banner.dismissed {
    max-height: 0;
}

#banner.dismissed .inner {
    -moz-transition: opacity 0.35s ease-in-out;
    -webkit-transition: opacity 0.35s ease-in-out;
    -o-transition: opacity 0.35s ease-in-out;
    -ms-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
    opacity: 0;
}

#banner.visible .inner {
    -moz-transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    -o-transition-delay: 0.75s;
    -ms-transition-delay: 0.75s;
    transition-delay: 0.75s;
}

body.is-loading #banner .inner {
    opacity: 0;
}

body.is-touch #banner {
    background-attachment: scroll;
}


